<%= form_with model: @article, url: articles_path(@article), local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, id: 'title' %>
  </p>

  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content, id: 'content' %>
  </p>

  <p>
    <%= form.submit value: 'Create Article'%>
  </p>
<% end %>
