<form action="/articles/:id/edit">
  <p><%= @article.title %></p>
  <p><%= @article.content %></p>
  <input type="submit" value="Edit">
</form>

<%= form_with model: [@article, Comment.new], url: article_comments_path(@article), local: true do |form|%>
	<%= form.label :email %>
	<%= form.email_field :email, id: 'comment_email' %>
	<%= form.label :body, value: 'Comment'  %>
	<%= form.text_field :body, id: 'comment_body_comment' %>
	<%= form.submit %>
<% end %>

<% @article.comments.each do |comment| %>
  <p><%= comment.body %> </p>
  <small> Submitted by: <%= comment.email %> </small>
<%end%>